<h2 class="b-headline-l1">{{string 'addAccount.searchBank.headline'}}</h2>

<p class="add-account-search-bank_text">{{string 'addAccount.searchBank.text'}}</p>

<label class="b-form-label" for="add-account-search-bank_q">{{string 'addAccount.searchBank.q.label'}}</label>
<input type="text" name="name" id="add-account-search-bank_q" autocomplete="off" class="b-form-input add-account-search-bank_input"/>

<div class="add-account-search-bank_empty">
	<span class="add-account-search-bank_empty-icon icon icon-search"></span>
	<span class="add-account-search-bank_empty-text">{{string 'addAccount.searchBank.empty.text'}}</span>
	<span class="add-account-search-bank_empty-msg">{{string 'addAccount.searchBank.empty.msg'}}</span>
	<button type="submit" class="add-account-search-bank_empty-action button button--small">{{string 'addAccount.searchBank.empty.manual'}}</button>
</div>
<ul class="add-account-search-bank_results"></ul>
<div class="add-account-search-bank_end">
	<span class="add-account-search-bank_end-text">{{string 'addAccount.searchBank.notThat.text'}}</span>
	<span class="add-account-search-bank_end-msg">{{string 'addAccount.searchBank.notThat.msg'}}</span>
	<button type="submit" class="add-account-search-bank_end-action button button--small">{{string 'addAccount.searchBank.notThat.manual'}}</button>
</div>