<h2 class="add-account_headline b-headline-l1">{{string 'addAccount.index.headline'}}</h2>

<p class="add-account_text">{{string 'addAccount.index.text'}}</p>

<ul class="add-account_types">
    <li class="add-account_type">
        <a href="#{{document.id}}/settings/accounts/new/bank" class="add-account_type-link">
            <span class="add-account_icon icon icon-shop"></span>
            <span class="add-account_type-name">{{string 'addAccount.index.bank'}}</span>
        </a>
    </li>
    <li class="add-account_type">
        <a href="#{{document.id}}/settings/accounts/new/cash" class="add-account_type-link">
            <span class="add-account_icon icon icon-money"></span>
            <span class="add-account_type-name">{{string 'addAccount.index.cash'}}</span>
        </a>
    </li>
    <li class="add-account_type">
        <a href="#{{document.id}}/settings/accounts/new/other" class="add-account_type-link">
            <span class="add-account_icon icon icon-diamond"></span>
            <span class="add-account_type-name">{{string 'addAccount.index.other'}}</span>
        </a>
    </li>
</ul>
