<h4 class="budgets-labels-category-editor_headline b-headline-l2">{{string 'budget.labels.editCategory.headline'}}</h4>

<label class="b-form-label" for="budgets-labels-category-editor_name">{{string 'budget.labels.editCategory.name.label'}}</label>
<input type="text" name="name" id="budgets-labels-category-editor_name" class="b-form-input budgets-labels-category-editor_name" />

<button type="submit" class="b-form-save">{{string 'budget.labels.editCategory.save.text'}}</button>
<button type="reset" class="b-form-cancel">{{string 'budget.labels.editCategory.cancel.text'}}</button>
<button type="button" class="budgets-labels-category-editor_remove b-form-remove">{{string 'budget.labels.editCategory.remove.text'}}</button>