<h4 class="budgets-labels-budget-editor_headline b-headline-l2">{{string 'budget.labels.editBudget.headline'}}</h4>

<label class="b-form-label" for="budgets-labels-budget-editor_name">{{string 'budget.labels.editBudget.name.label'}}</label>
<input type="text" name="name" id="budgets-labels-budget-editor_name" class="b-form-input budgets-labels-budget-editor_name" />

<label class="b-form-label" for="budgets-labels-budget-editor_category">{{string 'budget.labels.editBudget.category.label'}}</label>
<span class="b-form-select-wrap">
	<select type="text" name="name" id="budgets-labels-budget-editor_category" class="b-form-select budgets-labels-budget-editor_category"></select>
</span>

<label class="b-form-label" for="budgets-labels-budget-editor_goal">{{string 'budget.labels.editBudget.goal.label'}}</label>
<input type="text" name="name" id="budgets-labels-budget-editor_goal" class="b-form-input budgets-labels-budget-editor_goal" />

<button type="submit" class="b-form-save">{{string 'budget.labels.editBudget.save.text'}}</button>
<button type="reset" class="b-form-cancel">{{string 'budget.labels.editBudget.cancel.text'}}</button>
<button type="button" class="budgets-labels-budget-editor_hide b-form-hide b-form-hide--text">{{string 'budget.labels.editBudget.hide.text'}}</button>