<h4 class="budgets-labels-category-editor_headline">{{string 'budget.labels.editCategory.headline'}}</h4>

<label class="budgets-labels-category-editor_label" for="budgets-labels-category-editor_name">{{string 'budget.labels.editCategory.name.label'}}</label>
<input type="text" name="name" id="budgets-labels-category-editor_name" class="budgets-labels-category-editor_field budgets-labels-category-editor_name" />

<label class="budgets-labels-category-editor_label" for="budgets-labels-category-editor_goal">{{string 'budget.labels.editCategory.goal.label'}}</label>
<input type="text" name="name" id="budgets-labels-category-editor_goal" class="budgets-labels-category-editor_field budgets-labels-category-editor_goal" />

<button type="submit" class="budgets-labels-category-editor_save button button--inline button--small">{{string 'budget.labels.editCategory.save.text'}}</button>
<button type="submit" class="budgets-labels-category-editor_cancel button button--inline button--small button--text">{{string 'budget.labels.editCategory.cancel.text'}}</button>
<button type="submit" class="budgets-labels-category-editor_hide button button--inline button--small button--text">{{string 'budget.labels.editCategory.hide.text'}}</button>