<h4 class="budgets-labels-budget-editor_headline">{{string 'budget.labels.editBudget.headline'}}</h4>

<label class="budgets-labels-budget-editor_label" for="budgets-labels-budget-editor_name">{{string 'budget.labels.editBudget.name.label'}}</label>
<input type="text" name="name" id="budgets-labels-budget-editor_name" class="budgets-labels-budget-editor_field budgets-labels-budget-editor_name" />

<label class="budgets-labels-budget-editor_label" for="budgets-labels-budget-editor_category">{{string 'budget.labels.editBudget.category.label'}}</label>
<span class="budgets-labels-budget-editor_select-wrap">
	<select type="text" name="name" id="budgets-labels-budget-editor_category" class="budgets-labels-budget-editor_select budgets-labels-budget-editor_category"></select>
</span>

<label class="budgets-labels-budget-editor_label" for="budgets-labels-budget-editor_goal">{{string 'budget.labels.editBudget.goal.label'}}</label>
<input type="text" name="name" id="budgets-labels-budget-editor_goal" class="budgets-labels-budget-editor_field budgets-labels-budget-editor_goal" />

<button type="submit" class="budgets-labels-budget-editor_save button button--inline button--small">{{string 'budget.labels.editBudget.save.text'}}</button>
<button type="submit" class="budgets-labels-budget-editor_cancel button button--inline button--small button--text">{{string 'budget.labels.editBudget.cancel.text'}}</button>
<button type="submit" class="budgets-labels-budget-editor_hide button button--inline button--small button--text">{{string 'budget.labels.editBudget.hide.text'}}</button>