<h2>{{string 'dashboard.headline'}}</h2>

<p class="dashboard_text">{{string 'dashboard.text'}}</p>

<ul class="dashboard_list">
	<li class="dashboard_list-empty">
		{{string 'dashboard.empty'}}
	</li>
</ul>

<button class="dashboard_add" title="{{string 'dashboard.add.title'}}">{{string 'dashboard.add.text'}}</button>