<h2 class="b-headline-l1">{{string 'documentSettings.headline'}}</h2>

<h3 class="b-headline-l2">{{string 'documentSettings.general.headline'}}</h3>
<label class="document-settings_label b-form-label" for="document-settings_input--name">{{string 'documentSettings.general.name'}}</label>
<input type="text" name="name" id="document-settings_input--name" class="document-settings_input document-settings_input--name b-form-input">
<label class="document-settings_label b-form-label" for="document-settings_input--region">{{string 'documentSettings.general.region.label'}}</label>
<span class="b-form-select-wrap">
	<select name="region" id="document-settings_input--region" class="document-settings_input document-settings_input--region b-form-select">
		<option value="de-DE">{{string 'documentSettings.general.region.de-DE'}}</option>
		<option value="en-GB">{{string 'documentSettings.general.region.en-GB'}}</option>
		<option value="es-ES">{{string 'documentSettings.general.region.es-ES'}}</option>
		<option value="fr-FR">{{string 'documentSettings.general.region.fr-FR'}}</option>
		<option value="it-IT">{{string 'documentSettings.general.region.it-IT'}}</option>
		<option value="ru-RU">{{string 'documentSettings.general.region.ru-RU'}}</option>
	</select>
</span>

<h3 class="b-headline-l2">{{string 'documentSettings.accounts.headline'}}</h3>
<div class="document-settings_accounts"></div>
<a href="#{{document.id}}/settings/accounts/new" class="document-settings_add-account button button--secondary button--small button--inline button--right">{{string 'documentSettings.accounts.add'}}</a>

<div class="document-settings_plugins-wrap document-settings_plugins-wrap--hidden">
	<h3 class="b-headline-l2">{{string 'documentSettings.plugins.headline'}}</h3>
	<div class="document-settings_plugins"></div>
	<a href="#{{document.id}}/settings/plugins/new" class="document-settings_add-plugin button button--secondary button--small button--inline button--right">{{string 'documentSettings.plugins.add'}}</a>
</div>

<div class="document-settings_users-wrap document-settings_users-wrap--hidden">
	<h3 class="b-headline-l2">{{string 'documentSettings.users.headline'}}</h3>
	<div class="document-settings_users"></div>
	<!-- <a href="#{{document.id}}/settings/users/new" class="document-settings_add-user button button--secondary button--small button--inline button--right">{{string 'documentSettings.users.add'}}</a> -->
</div>

<h3 class="b-headline-l2">{{string 'documentSettings.dangerous.headline'}}</h3>
<p class="document-settings_message b-danger-text">{{string 'documentSettings.dangerous.destroy.message'}}</p>
<button class="document-settings_destroy b-danger-button" title="{{string 'documentSettings.dangerous.destroy.button.title'}}">{{string 'documentSettings.dangerous.destroy.button.text'}}</button>