<h2 class="document-plugin-settings_headline b-headline-l1"></h2>

<div class="document-plugin-settings_status-wrap document-plugin-settings_status-wrap--hidden">
	<h3 class="b-headline-l2">{{string 'documentPluginSettings.status.headline'}}</h3>
	<ul class="document-plugin-settings_status"></ul>
</div>


<div class="document-plugin-settings_settings-wrap loading">
	<h3 class="b-headline-l2">{{string 'documentPluginSettings.settings'}}</h3>

	<div class="document-plugin-settings_settings"></div>

	<button type="submit" class="b-form-save">{{string 'documentPluginSettings.save'}}</button>
	<button type="reset" class="b-form-cancel">{{string 'documentPluginSettings.cancel'}}</button>
</div>

<div class="document-plugin-settings_uninstall-wrap">
	<h3 class="b-headline-l2">{{string 'documentPluginSettings.uninstall.headline'}}</h3>

	<p class="b-danger-text">{{string 'documentPluginSettings.uninstall.message'}}</p>
	<button class="document-plugin-settings_uninstall b-danger-button" type="button" title="{{string 'documentPluginSettings.uninstall.button.title'}}">{{string 'documentPluginSettings.uninstall.button.text'}}</button>
</div>