<h2 class="document-account-settings_headline b-headline-l1">{{headline}}</h2>

<label class="b-form-label" for="document-account-settings_name">{{string 'documentAccountSettings.name.label'}}</label>
<input type="text" name="name" id="document-account-settings_name" placeholder="{{string 'documentAccountSettings.name.default'}}" class="b-form-input"/>

<label class="b-form-label" for="document-account-settings_type">{{string 'documentAccountSettings.type.label'}}</label>
<span class="b-form-select-wrap">
	<select id="document-account-settings_type" class="b-form-select">
		<option value="checking">{{string 'documentAccountSettings.type.checking'}}</option>
		<option value="savings">{{string 'documentAccountSettings.type.savings'}}</option>
		<option value="creditCard">{{string 'documentAccountSettings.type.creditCard'}}</option>
		<option value="cash">{{string 'documentAccountSettings.type.cash'}}</option>
		<option value="mortgage">{{string 'documentAccountSettings.type.mortage'}}</option>
		<option value="asset">{{string 'documentAccountSettings.type.asset'}}</option>
		<option value="loan">{{string 'documentAccountSettings.type.loan'}}</option>
	</select>
</span>

<div class="document-account-settings_transaction">
	<label class="b-form-label" for="document-account-settings_balance">{{string 'documentAccountSettings.balance.label'}}</label>
	<input type="text" name="name" id="document-account-settings_balance" class="b-form-input" />

	<label class="b-form-label" for="document-account-settings_record-date">{{string 'documentAccountSettings.recordDate.label'}}</label>
	<input type="text" name="name" id="document-account-settings_record-date" class="b-form-input" />
</div>

<button type="submit" class="document-account-settings_save b-form-save">{{string 'documentAccountSettings.save.text'}}</button>
<button type="reset" class="document-account-settings_cancel b-form-cancel">{{string 'documentAccountSettings.cancel.text'}}</button>