<div class="firstSetup_gradient"></div>

<form class="firstSetup_form">
	<button class="firstSetup_form-close" type="reset">тип</button>

	<div class="firstSetup_form-box firstSetup-form-box--1">
		<input name="email-1" class="firstSetup_form-input firstSetup_form-input--email-1" type="email" placeholder="{{string 'firstSetup.email-1.placeholder'}}" required />
		<input name="email-2" class="firstSetup_form-input firstSetup_form-input--email-2" type="email" placeholder="{{string 'firstSetup.email-2.placeholder'}}" required />
	</div>

	<div class="firstSetup_form-box firstSetup-form-box--2">
		<input name="password-1" class="firstSetup_form-input firstSetup_form-input--password-1" type="password" placeholder="{{string 'firstSetup.password-1.placeholder'}}" required />
		<input name="password-2" class="firstSetup_form-input firstSetup_form-input--password-2" type="password" placeholder="{{string 'firstSetup.password-2.placeholder'}}" required />
	</div>

	<button type="submit" class="firstSetup_submit">{{string 'firstSetup.submit.text'}}</button>
</form>