<ul class="header_list">
	<li class="header_item header_item--left header_item--documents">
		<a href="#" class="header_item-icon" title="{{string 'header.documents.title'}}">&#xe805;</a>
	</li>
	<li class="header_item header_item--right header_item--settings">
		<a href="#" class="header_item-icon header_settings" title="{{string 'header.settings.title'}}">&#xe802;</a>
		<ul class="header_dropdown">
			<li class="header_dropdown_item">
				<a href="#settings">{{string 'header.settings.account'}}</a>
			</li>
			<li class="header_dropdown_item header_dropdown_item--documentSettings">
				<a href="#">{{string 'header.settings.document'}}</a>
			</li>
			<li class="header_dropdown_item header_dropdown_item--documentReconcile">
				<a href="#">{{string 'header.settings.reconcile'}}</a>
			</li>
			<li class="header_dropdown_item">
				<a href="#logout">{{string 'header.settings.logout'}}</a>
			</li>
		</ul>
	</li>
	<li class="header_item header_item--right header_item--user">
		<div class="header_item-user-img"></div>
		<span class="header_item-user-name">{{user.email}}</span>
	</li>
</ul>
<div class="header_overflow">&nbsp;</div>