<ul class="sidebar_list">
	<li class="sidebar_item sidebar_item--budget">
		<a href="#" data-href="budget" class="sidebar_item-link" title="{{string 'sidebar.budget.title'}}">
			<span class="sidebar_item-icon">&#xe818;</span>
			<span class="sidebar_item-name">{{string 'sidebar.budget.name'}}</span>
		</a>
	</li>
	<li class="sidebar_item sidebar_item--reports">
		<a href="#" data-href="reports" class="sidebar_item-link" title="{{string 'sidebar.reports.title'}}">
			<span class="sidebar_item-icon">&#xe820;</span>
			<span class="sidebar_item-name">{{string 'sidebar.reports.name'}}</span>
		</a>
	</li>
	<li class="sidebar_item sidebar_item--transactions">
		<a href="#" data-href="transactions" class="sidebar_item-link" title="{{string 'sidebar.transactions.title'}}">
			<span class="sidebar_item-icon">&#xe810;</span>
			<span class="sidebar_item-name">{{string 'sidebar.transactions.name'}}</span>
		</a>
	</li>
</ul>