<div class="transactions-item_line">
	<span class="transactions-item_date">{{date}}</span>
	<span class="transactions-item_payee">{{payee}}</span>
	<span class="transactions-item_budget">{{budget}}</span>
	<span class="transactions-item_memo">{{memo}}</span>
	<span class="transactions-item_amount">{{amount}}</span>
</div>
<div class="transactions-item_editor"></div>